name: Valid YAML syntax

on: 
  push:
    branches: 
      - 'main'
    paths:
      - "data/*.yaml"
      - "profiles/**.yaml"
  pull_request:
    paths:
      - "data/*.yaml"
      - "profiles/**.yaml"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  validate-yaml:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Get changed files
        id: changed-files
        uses: step-security/changed-files@60967b822d3001fa82242f8d6b4ed46bc3600a68 # v47.0.1
        with:
          files: |
            data/*.yaml
            profiles/*.yaml
            
      - name: Validate YAML file
        if: steps.changed-files-excluded.outputs.any_changed == 'true'
        run: |
          for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
            yamllint -d relaxed -f parsable ${file}
          done
